.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.time-selector-datetime-div {
    margin-top: 10vh;
}

.time-selector-datetime {
    border-radius: 15px;

    width: 80%;
}

.converted-time-div {
    margin-top: 1vh;
}

#arrow-down {
    margin-top: 1vh;
    font-size: 5rem;
}

.history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}

#history-title {
    margin: 0;
}